
body {
  /*max-width: 400px;*/
  background-color: #00ff8c;
  /*background-image: url("../mac.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  border: 6px solid yellow;
  font-family: monospace;
  letter-spacing: 14px;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 39px;
  align-items: center;
}

#smile {
  height: 252px;
  width: 260px;
  cursor: pointer;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 10s;
}

h1{
  text-align: center;
  color: rgb(255, 255, 0);
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 10s;

}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.gift.fa{
  color: rgb(26, 156, 255);
  font-size: 67px;
}

button:hover {
  transform: scale(1.1);
}

a{
  color: cornflowerblue;
  text-decoration: none;
}

.growlers-container {
}

.birthday_heading {
  -vendor-animation-duration: 15s;
-vendor-animation-delay: 2s;
-vendor-animation-iteration-count: infinite;
}
