
body {
  max-width: 400px;
  background-color: #dadb9e;
  font-family: sans-serif;
  color: red;
  background-image: url(../pepper.jpg);
  background-blend-mode: exclusion;
  background-size: contain;
  background-repeat: no-repeat;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


h1{
  text-align: center;
  color: #ffa4a4;
  font-size: 56px;

}



h2{
  color: white;
  font-size: 40px;

}

h3 {
  color: black;
  font-size: 30px;
}

h4 {
  color: #ffa4a4;
  font-size: 30px;
}

button {
  rgba(255, 68, 0, 0.82);
  font-size: 16px;
  border-radius: 36px;
  background-color: white;
  border: 3px solid #ffa4a4;
  padding: 11px;
  cursor: pointer;
}

a{
  color: #ffa4a4;
  text-decoration: none;
}

#gg {
  height: 345px;
  border: 23px solid #ffa4a4;
  margin: 10px;
padding: 10px;
}

#pink-arrow{
  color:#ffa4a4;
  font-size: 40px;
}
