
body {
  /*max-width: 400px;*/
  font-family: sans-serif;
  background-color: #ffe473;

  padding: 20px;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#smile {
  height: 294px;
  cursor: pointer;
}

h1{
  text-align: center;
  color: rgb(255, 255, 0);

}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;

}

button {
  color: red;
  font-size: 16px;
  border-radius: 36px;
  background-color: white;
  border: 3px solid red;
  padding: 11px;
  cursor: pointer;
}

a{
  color: red;
  text-decoration: none;
}

.growlers-container {
}

#growlers{
  width: 380px;

}

.next {
  margin: 10px;
}

.tickets{
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 50px;
  flex-direction: column;
}

#ticket {
  cursor: pointer;
  width: 350px;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;


}

#video {
  margin-bottom: 10px;
  border: 6px solid red;
  padding: 6px;
}

#ticket:hover{
  transform: scale(1.1);
}

button:hover {
  transform: scale(1.1);
}

.red-arrow.fa {
  font-size: 40px;
  margin: 5px;
}
.red-arrow.fa:hover {
  color: red;
  cursor: pointer;
}

#growlersImage {
  width: 300px;
  height:300px;
  margin-top: 30px;
  border: 6px solid red;
  padding: 6px;
}
